{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{{ pharmacy.name }}
			<figure class="creator">
				<img src="{{creator.picture}}">
				<figcaption>{{creator.name}}</figcaption>
			</figure>
			</h1>

		</div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<a href="{{url_for('editPharmacy', pharmacy_id = pharmacy.id )}}">
				<button class="btn btn-default" id="new-menu-item">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Edit Pharmacy
				</button>
			</a>
			<a href="{{url_for('newMenuItem', pharmacy_id = pharmacy.id )}}">
				<button class="btn btn-default" id="new-menu-item">
					<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Add Item
				</button>
			</a>
						<a href="{{url_for('deletePharmacy', pharmacy_id = pharmacy.id )}}">
				<button class="btn btn-default delete" id="delete-pharmacy">
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete Pharmacy
				</button>
			</a>
		</div>
		<div class="col-md-7"></div>
	</div>
	
	{% if items !=[] %}	
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<h2>Beauty</h2>
					{% for i in items %}
						{% if i.item == 'Beauty' %}
							<div class="menu-item">
								<h3>{{i.name}}</h3>
								<p>{{i.description}}</p>
								<p class="menu-price">{{i.price}}</p>
								<a href='{{url_for('editMenuItem', pharmacy_id = pharmacy.id, menu_id=i.id ) }}'>Edit</a> | 
								<a href='{{url_for('deleteMenuItem', pharmacy_id = pharmacy.id, menu_id=i.id ) }}'>Delete</a>
							</div>
						{% endif %}
					{% endfor %}
			</div>
			<div class="col-md-4">			
				<h2>Antibiotic</h2>
					{% for i in items %}
						{% if i.item == 'Antibiotic' %}
						<div class="menu-item">
							<h3>{{i.name}}</h3>
							<p>{{i.description}}</p>
							<p class="menu-price">{{i.price}}</p>
							<a href='{{url_for('editMenuItem', pharmacy_id = pharmacy.id, menu_id=i.id ) }}'>Edit</a> | 
							<a href='{{url_for('deleteMenuItem', pharmacy_id = pharmacy.id, menu_id=i.id ) }}'>Delete</a>
						</div>
						{% endif %}
					{% endfor %}
			</div>
			<div class="col-md-3">
				<h2>Analgesic</h2>
					{% for i in items %}
						{% if i.item == 'Analgesic' %}
						<div class="menu-item">
							<h3>{{i.name}}</h3>
							<p>{{i.description}}</p>
							<p class="menu-price">{{i.price}}</p>
							<a href='{{url_for('editMenuItem', pharmacy_id = pharmacy.id, menu_id=i.id ) }}'>Edit</a> | 
							<a href='{{url_for('deleteMenuItem', pharmacy_id = pharmacy.id, menu_id=i.id ) }}'>Delete</a>
						</div>
						{% endif %}
					{% endfor %}
				<h2>Medical Supplies</h2>
					{% for i in items %}
						{% if i.item == 'Supplies' %}
						<div class="menu-item">
							<h3>{{i.name}}</h3>
							<p>{{i.description}}</p>
							<p class="menu-price">{{i.price}}</p>
							<a href='{{url_for('editMenuItem', pharmacy_id = pharmacy.id, menu_id=i.id ) }}'>Edit</a> | 
							<a href='{{url_for('deleteMenuItem', pharmacy_id = pharmacy.id, menu_id=i.id ) }}'>Delete</a>
						</div>
						{% endif %}
					{% endfor %}
			</div>
			<div class="col-md-1"></div>
		</div>
	{% endif %}
{% endblock %}
