{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Create New Item</h1>
		</div>
	</div>
	<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="50" class="form-control" name="name"placeholder="Name of the item">

					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description of the item"></textarea>

					<label for="price">Price:</label>
					<div class="input-group">
						<div class="input-group-addon">$</div>
						<input type ="text" class="form-control" maxlength="10" name="price" placeholder="Price in $">
					</div>
					<label for="item">item:</label>
					<div class="radio">
					  <label>
					    <input type="radio" name="item" id="item1" value="Beauty" checked="true">Beauty
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="item" id="item2" value="Antibiotic">Antibiotic
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="item" id="item3" value="Analgesic">Analgesic
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="item" id="item4" value="Supplies">Supplies
					  </label>
					</div>
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Create</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

